{% extends "wall/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">


        <div class="col-12 col-md-6">
            <div class="text-center">
                <img class="post-box" src="{{ post.picture.url }}">
            </div>
        </div>

        <div class="col-12 col-md-6 pd-top">
                <form method="POST" enctype='multipart/form-data' id="new_post_form">
                    {% csrf_token %}
                    <div class="text-center">{{ form|crispy }}</div>
                    <input type="submit" class="btn btn-dark" value="Edit Post" id="submit_post">
                    <a type="btn" class="btn btn-danger white-txt" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete
                    </a>
                </form>


            <!-- Button trigger modal -->


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this post?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger" href="{% url 'Delete_Post' post.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="bottom-space"></div>


{% endblock content %}